app component!!

<h1>TinyMCE 5 Angular Demo</h1>
<h3>Parent Component</h3>

<label>Bitcoin price</label>
<input type="text" #pcomponent (keyup)="0"/>
<p>Value of parebtg component is: {{ PData }}</p>
<p>Value of child component is: {{ CData }}</p>

<editor
  initialValue='22'
  [init]="{
       height: 100,
       menubar: false,

       toolbar:
         'undo redo | formatselect | bold italic backcolor | \
         alignleft aligncenter alignright alignjustify | \
         bullist numlist outdent indent | removeformat | help',
         branding:false
     }"
  >
</editor>
<app-tiny-mce [(PData)]="pcomponent.value" (childEvent)="CData=$event"></app-tiny-mce>
